<script>                
 window.gameName = "<%= @name %>";
</script>

<div class="row">
  <div class="column">
    <h1>Memory Game: <%= @name %></h1>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>
<p>Link back to game lobby: <a href="http://hw05.cstransky.me/">hw05.cstransky.me</a></p>
